{% extends 'base_login.html' %}
{% block largetitle %} 用户注册 {% endblock %}
{% block middletitle %} 邮箱注册 {% endblock %}
{% block content %}
    <form id="email_register_form" method="post" action="{% url 'register' %}" autocomplete="off">
        <input type='hidden' name='csrfmiddlewaretoken' value='gTZljXgnpvxn0fKZ1XkWrM1PrCGSjiCZ' />
        <div class="form-group marb20 {%  if register_form.errors.email %} errorput {% endif %}">
            <label>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
            <input  type="text" id="id_email" name="email" value="{{ register_form.email.value }}" placeholder="请输入您的邮箱地址"  />
        </div>
        <div class="form-group marb8 {%  if register_form.errors.password %} errorput {% endif %}">
            <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
            <input type="password" id="id_password" name="password"  value="{{ register_form.password.value }}" placeholder="请输入6-20位非中文字符密码" />
        </div>
        <div class="form-group marb8 captcha1 {%  if register_form.errors.captcha %} errorput {% endif %}">
            <label>验&nbsp;证&nbsp;码</label>
            {{ register_form.captcha }}
        </div>
        <div class="error btns " id="jsEmailTips">
            {% for key,error in register_form.errors.items %}
                {{ error }}
            {% endfor %}
            {{ msg }}
        </div>
        <div class="auto-box marb8">
        </div>
        <input class="btn btn-green" id="jsEmailRegBtn" type="submit" value="注册并登录" />
        {% csrf_token %}
    </form>
{% endblock %}
{% block bottom %}已有账号？<a href="{% url 'login' %}">[立即登录]</a>{% endblock %}